@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Overlock+SC&family=Silkscreen:wght@400;700&display=swap');

:root {
  /* Colours */
  --color1: hsl(150, 20%, 25%);
  --color2: hsl(131, 22%, 29%);
  --color3: hsl(47, 15%, 88%);
  /* Fonts */
  --FontHeadings: "Overlock SC", sans-serif;
  --FontScores: "Silkscreen", sans-serif;
  --FontText: "Fredoka", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: var(--color1);
  padding: 15px;
  border-bottom: 5px solid var(--color2);
}

header h1 {
  font-family: var(--FontHeadings);
  color: var(--color3);
  text-align: center;
}